<!-- 登陆的表单 -->

<form name="loginForm" ng-submit="login(user)">
    <div align="center" class="col-md-12">
        <span class="label label-danger" style="margin-bottom: 6px;">{{mess}}</span>
    </div>
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="user.username" placeholder="请输入用户名／手机号／邮箱">
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="请输入密码">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">记住我
        </label>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-default">登陆</button>
    </div>

</form>